<template>
  <div class="d-flex flex-column">
    <h2>Великий путь разработчика</h2>
    <div class="w-50 ml-auto  mr-auto  mb-3">
      Приветствую, мой дорогой Друг! Поздравляю тебя С Днём рожения, и если ты уже зашел на эту страницу, значит коробка уже у тебя, и тебе надо её открыть:)
    </div>
    <div class="w-50 ml-auto  mr-auto mb-3">
      Не буду тебя томить разными идеями, и сразу перейду к делу!
      Как ты можешь заметить у тебя коробка, и на ней висит кодовый замок, для того, что бы узнать код, необходимо пройти мои испытания. По завершению каждого испытания ты получишь часть кода от замка!
    </div>
    <h5 class="w-50 ml-auto  mr-auto  mb-3">
      Итак, во время моих испытаний есть определённые правила<br>
    </h5>
    <ol class="w-50 ml-auto  mr-auto  mb-5">
      <li>
        Нельзя пользоваться чьей-то помощью (за исключением помощи от создателя подарка)!
      </li>
      <hr>
      <li>
        Используй все свои навыки для получения доступа к сокровищу. Гуглить нельзя ;-)
      </li>
      <hr>
      <li>
        Тебе следует запастись терпением, потому что каждую часть кода я спрятал очень тщательно
      </li>
    </ol>

    <h5 class="w-50 ml-auto  mr-auto  mb-3">
      А вот и мои уровни
    </h5>
    <b-list-group class="w-50 ml-auto  mr-auto ">
      <b-list-group-item href="/borisbirthday/static/bXlzdHJvbmdwYXNzd29yZA==">Уровень 1.png</b-list-group-item>
      <b-list-group-item :to="{name:'level2'}">Уровень 2</b-list-group-item>
      <b-list-group-item :to="{name:'level3'}">Уровень 3</b-list-group-item>
      <b-list-group-item :to="{name:'level4'}">Уровень 4</b-list-group-item>
    </b-list-group>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data() {
    return {
      msg: 'Welcome to Your Vue.js App',
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
