<template>
  <div>
    <h3>
      !+[]+!+[]-+!+[]
    </h3>
  </div>

</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';

export default {
  name: 'level4',
  components: {},
  props: {},
  computed: {
    ...mapGetters({}),
  },
  methods: {
    ...mapActions({}),
    ...mapMutations({}),
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">

</style>
