<template>
	<div>
    <b-img src="/borisbirthday/static/image$/level3.jpg" fluid alt="Fluid image"></b-img>
	</div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';

export default {
  name: 'level3',
  components: {},
  props: {},
  computed: {
    ...mapGetters({}),
  },
  methods: {
    ...mapActions({}),
    ...mapMutations({}),
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">

</style>
