<template>
<div class="position-fixed checking-browser-container">
  checkingBrowser
  <b-spinner variant="primary" label="Spinning"></b-spinner>
</div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';

export default {
  name: 'checkingBrowser',
  components: {},
  props: {},
  computed: {
    ...mapGetters({}),
  },
  methods: {
    ...mapActions({}),
    ...mapMutations({}),
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">

  .checking-browser-container {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
</style>
