<template>
<div>
  <h5>{{ currentAnswer.text }}</h5>
</div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';

export default {
  name: 'tooFastForThisSite',
  components: {},
  props: {},
  computed: {
    currentAnswer() {
      return this.answers[this.index];
    },
    ...mapGetters({}),
  },
  methods: {
    ...mapActions({}),
    ...mapMutations({}),
  },
  data() {
    return {
      index: Math.floor(Math.random() * 6),
      answers: [{
        text: 'На этой тачке вы разогнались слишком быстро, и проскочили нужный поворот, и вот вы оказались на обочине вселенной...',
        img: '',
      }, {
        text: 'Сбавь ход дружище! Ты летишь слишком быстро!',
        img: '',
      }, {
        text: 'Вы используете слишком высокотехнологичные инструменты! Вам надо обратиться к истории!',
        img: '',
      }, {
        text: 'Давай помедленнее....',
        img: '',
      }, {
        text: 'Отец мула...',
        img: '',
      }, {
        text: '10f0fa4079121b371145e16713fdbb44',
        img: '',
      }],
    };
  },
};
</script>

<style scoped lang="scss">

</style>
