<template>
<div>
  <checkingBrowser v-if="pending"/>
  <tooFastForThisSite v-if="!pending && !showAnswer"/>
  <YeahFinnally v-if="!pending && showAnswer"/>
</div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';
import checkingBrowser from './checkingBrowser';
import tooFastForThisSite from './tooFastForThisSite';
import YeahFinnally from './YeahFinnally';

const isIe = require('@braintree/browser-detection/is-ie');

export default {
  name: 'veiwer',
  components: {
    checkingBrowser,
    tooFastForThisSite,
    YeahFinnally,
  },
  props: {},
  computed: {
    ...mapGetters({}),
  },
  methods: {
    checkBrowser() {
      this.showAnswer = false;
      if (isIe()) {
        this.showAnswer = true;
      }
      this.pending = false;
    },
    ...mapActions({}),
    ...mapMutations({}),
  },
  data() {
    return {
      showAnswer: false,
      pending: true,
    };
  },
  mounted() {
    setTimeout(this.checkBrowser.bind(this), 5000);
  },
};
</script>

<style scoped lang="scss">

</style>
