<template>
	<h4>
    А вот и ты! Ты нашел ещё один ключ к своему подарочку))<br>
    Вводи циферку пятерочку.
	</h4>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';

export default {
  name: 'YeahFinnally',
  components: {},
  props: {},
  computed: {
    ...mapGetters({}),
  },
  methods: {
    ...mapActions({}),
    ...mapMutations({}),
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">

</style>
