<template>
<div
  @contextmenu="handleContextMenuOpen"
  id="app">
  <router-view/>
</div>
</template>

<script>
export default {
  name: 'App',
  methods: {
    handleContextMenuOpen(e){
      e.preventDefault();
      e.stopPropagation();
      this.openSong();
    },
  },
  mounted() {
    document.addEventListener('copy', (event) => {
      event.clipboardData.setData('text/plain', 'never gonna give you up');
      this.openSong();
      event.preventDefault();
    }, true);
  },
};
</script>

<style lang="scss">
  @import "./styles/styles";

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>
